.content {
    margin-left: 1.2em;
    margin-right: 1.2em;
}

@media (max-width: 650px) {
    .content {
        margin-left: 0.2em;
        margin-right: 0.2em;
    }
}

@media (min-width: 1400px) {
    .content {
        margin-left: 30ex;
        margin-right: 30ex;
    }
}