/*! main.css */

@import url(../font/font.css);

/* color theme */
* {
  --brand: #ff8400;
  --brand-hue: 200;
  --brand-saturation: 100%;
  --brand-lightness: 50%;
  --brand-dark: hsl(var(--brand-hue) calc(var(--brand-saturation) / 2) calc(var(--brand-lightness) / 1.5));
  --text1-dark: hsl(var(--brand-hue) 15% 85%);
  --text2-dark: hsl(var(--brand-hue) 5% 65%);
  --surface1-dark: #343030;
  --surface2-dark: #07070e;
  --surface3-dark: #555555;
  --surface4-dark: hsl(var(--brand-hue) 5% 25%);
  --surface-shadow-dark: var(--brand-hue) 50% 3%;
  --shadow-strength-dark: .8;
}

html, body{
  height: 100vh;
  margin: 0;
}

body{
  font-family: 'Open Sans';
  display: flex;
  flex-direction: column;
  background-color: var(--surface2-dark);
}

footer{
  margin-top: auto;
}

.square {
  position: absolute;
  pointer-events: none;
  top: -1px;
  left: -1px;
}

.invisible {
  visibility: hidden;
}

.svg-container{
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/*************** navigation ***************/
.main-navigation{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main-navigation .nav-item{
  flex-grow: 1;
  background-color: var(--surface1-dark);
  border: none;
  color: white;
  padding: 1.5ex 3em;
  text-align: center;
  text-decoration: none;
}

main{
  padding: 1vh;
}

footer{
  padding: 1vh;
}
/*************** navigation ***************/
