/*! main.css */

@import url(../font/font.css);

/*#region color_theme */
* {
    --brand: #00ffe1;
    --accent1: #3174ff;
    --text1-dark: white;
    --text2-dark: #d7d7d7;
    --surface1-dark: #262626;
    --surface2-dark: #07070e;
    --surface3-dark: #343434;
}

/*#endregion color_theme */

/*#region general */
.invisible {
    visibility: hidden;
}

.bg-darker {
    background-color: var(--surface1-dark)
}

.text-center {
    text-align: center;
}

/*#endregion general */

/*#region default_element_styles */
html, body {
    height: 100vh;
    margin: 0;
    color: var(--text1-dark); /* default text color */
}

a {
    color: var(--text1-dark);
}

body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: var(--surface2-dark);
}

footer {
    margin-top: auto;
}

main {
    overflow: auto;
    padding: 1vh;
}

footer {
    padding: 1vh;
}

/*#endregion default_element_styles */

/*#region navigation */
.main-navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-navigation .nav-item {
    box-sizing: border-box;
    flex-grow: 1;
    background-color: var(--surface1-dark);
    border: none;
    padding: 1.5ex 3em;
    text-align: center;
    text-decoration: none;
}

.main-navigation .nav-item:hover {
    background-color: var(--surface3-dark);
}

/*#endregion* navigation */

.title {
    text-align: center;
    margin-bottom: 0;
    margin-top: 0.8ex;
}

.main-title {
    color: var(--brand);
}

.imprint {
    color: var(--text2-dark);
    font-size: small;
}

.video {
    width: 55em;
    display: block;
    margin: 0 auto;
    text-align: center;
}

@media (max-width: 1400px) {
    .video {
        width: 100%;
    }
}