main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* horizontal */
    overflow-x: hidden;
}

.title {
    margin-top: 3ex;
    margin-bottom: 10ex;
}

/*#region plans */
.plans {
    margin-top: 3ex;
    width: 66.6666666667%;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

@media (max-width: 1200px) {
    .plans {
        width: 80%;
        flex-direction: column;
    }

    .title {
        margin-top: 3ex;
        margin-bottom: 4ex;
    }
}

@media (max-width: 1000px) {
    .plans {
        width: 97%;
    }
}

@media (min-width: 1200px) {
    .plans {
        background: var(--surface3-dark);
    }
}

@media (min-width: 1200px) {
    .head-recommended:before {
        content: 'Tipp';
        position: absolute;
        line-height: 1.8;
        z-index: 2;
        background: var(--accent1);
        top: -45px;
        display: block;
        padding: 10px 56px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px
    }
}

.plans .plans-card {
    flex-grow: 1;
    min-width: 150px;
}

@media (max-width: 1200px) {
    .plans .plans-card {
        margin: 5px 0;
        border-radius: 6px;
        padding: 0 20px;
        background: var(--surface3-dark);
    }
}

.plans .plans-table tbody tr:last-child td:last-child {
    border-bottom: none
}

.plans .plans-table {
    width: 100%;
    position: relative
}

.plans .plans-table td {
    border-bottom: 1px solid;
    line-height: 1.2;
    height: 10ex;
    min-width: 80px;
}

@media (max-width: 1200px) {
    .plans div.plans-card:first-child {
        display: none
    }

    .plans td:first-child {
        text-align: left;
        padding-left: 15px;
    }

    .plans td{
        width: 50%
    }

    .plans .plans-table tbody tr:last-child td:nth-last-child(2) {
        border-bottom: none
    }
}

@media (min-width: 1200px) {
    .plans td:first-child {
        display: none
    }
}
/*#endregion plans */

/*#region drone */
#drone {
    position: absolute;
    pointer-events: none;
    width: 10vw;
    height: 10vh;
    top: -1px;
    left: -1px;
    background-color: var(--brand); /* defines the background color of the image */
    mask: url(../img/drone.svg) no-repeat center / contain;
    -webkit-mask: url(../img/drone.svg) no-repeat center;
    -webkit-mask-size: contain;
}

.drone-flying-area {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: -1;
}
/*#endregion drone */