.video-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.wrap-reverse {
    flex-wrap: wrap-reverse;
}

.video-container p {
    display: flex;
    font-size: clamp(1.7rem, 1.6vw, 3rem);
    margin: 3ex 2ex 0 2ex;
    align-items: center;
}

.video {
    width: 45em;
    margin-top: 2vh;
    display: flex;
}

@media (max-width: 1000px) {
    .video {
        max-width: 100%;
    }

    .video-container p {
        font-size: clamp(0.85rem, 3.2vw, 10rem);
    }
}