/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('./OpenSans-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}
